<script type="text/javascript">
	
	$(document).ready(function(){
		

		$('select#city').prepend(new Option(
			'Please select City','*'
			));
		$('select#city').val('*');
		var nameCountry = $('#nameCountry').text();
		$('select#country option').map(function(i, e) { 
			if($(e).text() === nameCountry){
				$('select#country').val(e.value);
				return true;
			}
			return false;
		});

		$('select#country').change(function(){
			var country_id = $('select#country').val();
			$('#nameCountry').text($('select#country option:selected').text());
			if(country_id != 0)
			{
				$.ajax({
					type:'get',
					url:'/listcities/',
					data:{id:country_id},
					cache:false,
					success: function(returndata){
						console.log(returndata);
						var options = '<option value="*">Please select City</option>';
						returndata.forEach(function(data){
							options += sprintf(
								"<option value='%s'>%s</option>",data.id,data.name
								);

	                        // '<option value="' + data + '">' + data + '</option>';
	                    });
						$('select#city').html(options);
					}
				});
			}
		});

		$('select#city').change(function(){
			var city_id = $('select#city').val();
			if(city_id != 0)
			{
				$.ajax({
					type:'get',
					url:'/cities/'+city_id+'.json',
					data:{id:city_id},
					cache:false,
					success: function(returndata){
						var image = sprintf(
							"<a href='%s'><image id='img' src='%s'></image></a>",returndata.image, returndata.image
							);

						var editLink = '<%= link_to "Edit City", edit_city_path(1), class: "btn btn-default"%>'.replace('1',city_id);

						var destroyLink = '<%= link_to "Destroy City", city_path(id: 1), class: "btn btn-default" , method: :delete%>'.replace(1,city_id);

						$('div#edit').html(
							editLink
						);
						$('div#destroy').html(
							destroyLink
						);

						$('div#image_cities').html(image);
					}
				});
			}
		});

		

	});

</script>


<div id="center">
	<div class="container">
		<div class="wrapper clearfix">
			<h1><a title="Return to home page" href="index.html">Guides.rubyonrails.org</a></h1>
			<ul class="nav">
				<li><select class="form-control" id="country">
					<% Country.all.each do |country| %>
					<option value="<%= country.id %>"><%= country.name %></option>
					<% end %>
				</select>
			</li>

			<li>
				<select class="form-control" id="city">
					<% @country.cities.each do |city| %>
					<option value="<%= city.id  %>"><%= city.name %></option>
					<% end %>
				</select>
			</li>
		</ul>
	</div>
</div>
</div>

<div id="content">
	<p id="notice"><%= notice %></p>
	<div class="container">
		<div class="row">
			<div class="col-xs-11 col-sm-11">
				<div class="row">
					<div class="col-xs-4 col-sm-4">
						<h2 class="text-center" style="margin: 0;">Information</h2>
						<p>
							<strong>Name:</strong>
							<span id="nameCountry"><%= @country.name %></span>
						</p>


						<p>
							<strong>Flag:</strong>
							<%= image_tag @country.flag, width: 100, height: 70 %>
						</p>
					</div>

					<div class="col-xs-8 col-sm-8">
						<h2 class="text-center" style="margin: 0;">Image</h2>

						<div id="image_cities" class="zoom-gallery">

						</div>

					</div>
				</div>
			</div>

			<div class="col-xs-1 col-sm-1">
				<div class="crud" id="new">
				<%= link_to 'New City', new_city_path, class: "btn btn-default" %>
				</div>
				<div class="crud" id="edit">
					<%= link_to 'Edit City', edit_city_path(@country), class: "btn btn-default"%> 
				</div>
				<div class="crud" id="back">
					<%= link_to 'Back', countries_path,  class: "btn btn-default"%>
				</div>
				<div class="crud" id="destroy">
					<%= link_to 'Destroy City', city_path(id: 0),  class: "btn btn-default" , method: :delete, data: { class: "form-control", confirm: 'Are you sure?' } %>
				</div>
				
			</div>

		</div>
	</div>
</div>



