<script type="text/javascript">
  $(document).ready(function($) {
    $('input[type="file"]').on('change',function(){
      $('#city_url').val($('input[type="file"]').val());
    });
  });
</script>


<div class="containter">

<%= form_for @city, class: "form-group" do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <div class="row">
      <div class="col-xs-1">
        <%= f.label :country_id, class: "label" %>
      </div>
      <br>
      <div class="col-xs-6">
      <%= f.collection_select :country_id, Country.all, :id, :name , {prompt: "Select The Country"}, {class: "form-control"}%>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-xs-1">
        <%= f.label :name,class: "label" %><br>
      </div>
      <br>
      <div class="col-xs-6">
      <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row">
      <div class="col-xs-1">
        <%= f.label :image, class: "label"  %> 
      </div>
      <br>
      <div class="col-xs-6">

      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-primary btn-file">
            Browse<%= f.file_field :image%>
          </span>
        </span>
        <%= f.text_field :url, class: "form-control"%>
      </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-info crud" %>
  </div>
<% end %>

</div>